{% extends 'blog_base.html' %}
{% load static %}

{% block content %}


    <!-- Hero Section-->
    <section style="background: url({% static 'blog_img/blog2.jpg' %}); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1>Welcome to my Blog.</h1>  <!--<a href="#" class="hero-link">Discover More</a>-->
          </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">Hello</h2>
            <p class="text-big">Here is my private blog site. You will find posts that are related to my science background, to webdevelopment with django and other stuff. Enjoy reading.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Divider Section-->
    <section style="background: url({% static 'blog_img/blog2.jpg' %}); background-size: cover; background-position: center bottom" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2>Each day is a new day to learn something.</h2> <!--<a href="#" class="hero-link">View More</a>-->
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts">
      <div class="container">
        <header>
          <h2>Latest posts of the blog</h2>
          <p class="text-big">Find your thing.</p>
        </header>
        <div class="row">
          {% for post in queryset %}
          <div class="post col-md-4">
            <div class="post-thumbnail"><a href="{{ post.get_absolute_url }}"><img src="{{post.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date">{{ post.timestamp }}</div>
                <div class="category">
                  {% for cat in post.categories.all %}
                  <a href="#">{{  cat }}</a></div>
                  {% endfor %}
              </div><a href="{{ post.get_absolute_url }}">
                <h3 class="h4">{{ post.title }}</h3></a>
              <p class="text-muted">{{ post.overview }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>



{% endblock content %}
